<div class="welcome-page">
  <div class="text-center">
    <h3>{{quizObj?.name}}</h3>
  </div>


  <div class="card bg-light">
    <div class="card-body">
      <div class="questionPad" *ngFor="let q of question">
        <div>
          <h2>{{q.name}}</h2>
          <hr>
        </div>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectedQuestion">
          <mat-radio-button class="example-radio-button" *ngFor="let o of q.options" [value]="o.id">
            <div class="col-md-12">{{o.name}}</div>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row bgColorWhite">
        <div class="col-md-4 previewBtnPad">
          <button type="button" (click)="showPreviewDialog()" class="btn btn-sm btn-primary">Preview</button>
        </div>
        <div class="col-md-8">
          <mat-paginator class="bgColorWhite" [hidePageSize]="true" nextPageLabel="Next Question" [length]="length"
            [pageSize]="pageSize" (page)="pageEvent = handlePage($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>

  <p-dialog header="Preview" [(visible)]="displayPreview" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <span>Answered Questions Preview</span>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="displayPreview=false" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="displayPreview=false" label="No" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</div>