.bgColorWhite{
    background-color: white;
}

.previewBtnPad{
    padding-left: 30px;
    padding-top: 12px;
}
.questionPad{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.showAnswersBtnPad{
    padding-bottom: 37px;
}